<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- @BeforeSuite -->
<suite name="TestNG session AutomationSuite">

	<!-- @BeforeTest -->
	<test name="case1">
	  <classes>
		<class name="testNG_Concepts.TestNGFeatures" />
		<class name="testNG_Concepts.GooglwHomePageTest" />
		
	  </classes>
	</test>
	<!-- @AfterTest -->
	
	
</suite>
<!-- @AfterSuite -->